body { background: #40f02b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 22px; display: flex; }
.block-session-0 { color: #7aa9fc; font-size: 14px; margin-bottom: 5px; }
.block-auth-1 { color: #2de300; font-size: 15px; margin-bottom: 5px; }
.block-cluster-2 { color: #751fc9; font-size: 18px; margin-bottom: 5px; }
.block-router-3 { color: #f57206; font-size: 20px; margin-bottom: 5px; }
.block-session-4 { color: #5804f3; font-size: 21px; margin-bottom: 5px; }